<!DOCTYPE html>
<html>
<head>
  <script src="angular/angular-min.js"></script>
  <script src="js/custum.js"></script>
</head>



<body ng-app="myApp">
    <div  ng-controller="person">
        <strong>First Name: </strong>{{firstName}}<br/>
        <strong>Last Name: </strong>{{lastName}}<br/>
        <strong>Full Name: </strong>{{getFullName()}}<br/>
        <label>Set first Name: <input type="text" ng-model="firstName" placeholder="set first name"></label><br/><br/>
        <label>Set last Name: <input type="text" ng-model="lastName" placeholder="set last name"></label>
    </div>
    <br/>
    <div  ng-controller="person1">
        <strong>First Name: </strong>{{firstName}}<br/>
        <strong>Middle Name: </strong>{{middleName}}<br/>
        <strong>Last Name: </strong>{{lastName}}<br/>
        <strong>Full Name: </strong>{{getFullName()}}<br/>
        <label>Set first Name: <input type="text" ng-model="firstName" placeholder="set first name"></label><br/><br/>
        <label>Set middle Name: <input type="text" ng-model="middleName" placeholder="set middle name"></label><br/><br/>
        <label>Set last Name: <input type="text" ng-model="lastName" placeholder="set last name"></label>
    </div>
    
    
    </body>
</html>